.container {
    display: flex;
    flex-direction: column;
}

.container .create-task-btn-container {
    align-self: flex-end;
    padding: 16px;
}

.create-task-btn {
    all: unset;
    color: white;
    text-align: center;
    width: 120px;
    height: 45px;
    border-radius: 24px;
    font-weight: 500;
    background-color: var(--mat-sys-primary);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.header {
    padding: 16px;
}

.lane {
    display: flex;
    min-height: 100dvh;
}

.card {
    min-height: 48px;
    padding: 12px;
    display: flex;
    margin-bottom: 8px;
    cursor: grab;
}

.cdk-drag-placeholder {
    opacity: 0.2;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    background: transparent;
    margin-inline: 16px;
    margin-block: 8px;
}

.cdk-drag-preview {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.card-low {
    background-color: #d4edda;
}

.card-medium {
    background-color: #fff3cd;
}

.card-high {
    background-color: #f8d7da;
}

.card-urgent {
    background-color: #f5c6cb;
}

.tag-priority {
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    color: #000;
    margin-left: 8px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header .title {
    margin-block: 0;
    font-size: 18px;
    font-weight: 500;
}

.card-user-select {
    margin-top: 8px;
}

.card-user-select button {
    background-color: transparent;
    outline: none;
    border: none;
    padding-inline: 0;
}

.selected-user {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: none;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1976d2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.card-deadline {
    font-size: 0.85rem;
    color: #555;
}