.main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    gap: 0.5rem;
}

.login-form .login-form__input {
    width: 100%;
}

.login-form .login-form__button {
    width: 100%;

}

.login_form__footer {
    width: 100%;
    margin-top: 24px;
}

.login_form__footer p {
    margin: 0;
    text-align: center;
    margin-top: 24px;
}